{% load static i18n static %}

<link href="{% static 'startbootstrap-simple-sidebar/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'startbootstrap-simple-sidebar/css/simple-sidebar.css' %}" rel="stylesheet">

<html lang="en">

<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  {% comment %}
                    <a href="#">Login</a>
                    <a href='#'> Sign-up</a>
                  {% endcomment %}
                </li>
                <li>
                    <a href="{% url 'items:item_viewer' %}">View Collection</a>
                </li>
                <li>
                    <a href="{% url 'items:create_item' %}">Create your own!</a>
                </li>
                <li>
                    <a href="#">Import/Export</a>                </li>
                <li>
                    <a href="#">Documentation</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
        {% block replace_main %}
            <div class="container-fluid">
                <h1>Simple Sidebar</h1>
                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
          {% endblock %}
        </div>
      </div>
        <!-- /#page-content-wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'startbootstrap-simple-sidebar/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'startbootstrap-simple-sidebar/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
