{% extends 'base.html' %}


{% block replace_main %}
<div class="">
  <div class="">
    <h1>Title goes here</h1>
    <div class="row">
      <div class="col-4">
        <h3>Sort/filter options here</h3>
        <div>
          <select multiple class="form-control" id="sel2">
            <ul class="list-group">
              {% for item in item_list %}
              <option class="list-group-item" value={{item.value_name}}>
                  <li >

                {{item.name}} {{item.campaign}}
              </li> </option>
              {% endfor %}
            </ul>
          
          </select>


        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h1>item viewer goes here</h1>
        </div>
      </div>
    </div>
  </div>
  <button type="button" name="button">Import Items</button>
  <button type="button" name="button">Export Items</button>
  <button type="button" name="button">Export to D&D Beyond</button>
</div>
{% endblock %}
