{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block replace_main %}
  <div class="">
    <h1>Magic Items</h1>
    {% if form.errors and not form.non_field_errors %}
      <p class="errornote alert alert-danger">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}
        {% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
      {% endif %}
    <form method='POST' enctype="multipart/form-data" action="/items/collection/">
        {% csrf_token %}
    <div class="form-row">
     <div class="form-group col-md-2 mb-0">
       {{ form.rarity_filter|as_crispy_field }}
     </div>
     <div class="form-group col-md-2 mb-0">
       {{ form.attunement_filter|as_crispy_field }}
     </div>
     <div class="form-group col-md-2 mb-0">
       {{ form.type_filter|as_crispy_field }}
     </div>
     <div class="form-group col-md-2 mb-0">
       {{ form.campaign_filter|as_crispy_field }}
     </div>
     <input class="btn btn-md btn-primary"  name="filter_items" type="submit" value="Filter Items" />
   </div>
   <br>

    <div class=''>
      <div class='row'>
        <div class="col-md-auto">  <h5>Item Name </h5> </div>
        <div class="col-md-auto"> <h5>Item Type</h5> </div>
        <div class="col-md-auto"> <h5>Rarity</h5> </div>
        <div class="col-md-auto"> <h5>Requires Attunemnet</h5></div>
        <div class="col-md-auto"> <h5>Item Campaign</h5></div>
      </div>
            <ul class="list-group">
              {% for item in item_list %}
                {% include 'viewer/_partials/_item_card.html' with item=item%}
              {% empty %}
                <h3> no items found </h3>
              {% endfor %}
      </ul>
    </div>

  </div>
<div>
  <input class="btn btn-md btn-primary"  name="export_items" type="submit" value="Export Items as PDF" />
</div>
</form>
{% endblock %}
