{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block replace_main %}
  <div class="">
    <h1>Magic Items</h1>
    {% if form.errors and not form.non_field_errors %}
      <p class="errornote alert alert-danger">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}
        {% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
      {% endif %}
    <form method='POST' enctype="multipart/form-data" action="/items/collection/">
        {% csrf_token %}
    <div class="form-row">
     <div class="form-group col-md-2 mb-0">
       {{ form.rarity_filter|as_crispy_field }}
     </div>
     <div class="form-group col-md-2 mb-0">
       {{ form.attunement_filter|as_crispy_field }}
     </div>
     <div class="form-group col-md-2 mb-0">
       {{ form.item_filter|as_crispy_field }}
     </div>
     <input class="btn btn-md btn-primary"  type="submit" value="Filter Item" />
   </div>
   <br>
  </form>
    <div class=''>
      <ul class="list-group">
              {% for item in item_list %}
                {% include 'viewer/_partials/_item_card.html' with item=item%}
              {% empty %}
                <h3> no items found </h3>
              {% endfor %}
      </ul>
    </div>

  </div>
<div>
  <button type="button" name="button">Import Items</button>
  <button type="button" name="button">Export Items</button>
  <button type="button" name="button">Export to D&D Beyond</button>
<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
</div>
{% endblock %}
